version: '3.9'

services:
  fingerprint-ingestor:
    environment:
      LOG_LEVEL: debug
    ports:
      - "8080:8080"

  matching-engine:
    environment:
      LOG_LEVEL: debug

  advertiser-api:
    environment:
      LOG_LEVEL: debug

  # Mount local code for development
  # volumes:
  #   - ./services/fingerprint-ingestor:/app:cached
